.status-span {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    margin-left: 15px;
    cursor: default;
    display: block;
    
}
.br{
    background-color: rgb(244, 67, 54); 
    color: rgb(244, 67, 54);
    
}
.bg{

    background-color: rgb(76, 175, 80); 
    color: rgb(76, 175, 80);
    
 }   
.fundo {
    background-color: #DCD6C8;
    border-radius: 5px;
    padding: 1.15rem
}

.menu-app{
    background-color: #FAFAFA;
    border-radius: 10px;
    padding: 10px;
}

.fa-menu-app
{
    font-size: 30px;
}

.label-menu-app
{
    font-size: 8px;

}

.top-home{
    background-color: #5C8A9A;
    border-radius: 20px;
    padding: 15px;
}

.valores-home
{
    font-size: 10px;
    color:#FAFAFA;
    /*font-family: 'Source Sans Pro',sans-serif;*/
}

.button-home-receita,.button-home-despesa{
    border-radius: 18px; 
}

